.home {
  margin: 10px;
  /* background-color: rgba(98, 134, 98, 0.685); */
  color: white;
  padding: 75px;
  border-radius: 15px;
}
.home2 {
  background-color: rgba(98, 134, 98, 0.83);
  color: white;
  padding: 50px;
  margin: 15px 0;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin: 35px;
}
