.signInForm input {
  text-align: center;
  border-radius: 50px;
  border-style: none;
  padding: 10px 50px;
  background-color: rgb(225, 225, 225);
}
.signInForm button {
  border-style: none;
  padding: 10px 50px;
  border-radius: 10px;
  background-color: rgb(29, 29, 105);
  color: white;
  font-weight: bold;
}
.signInForm button:hover {
  border-style: none;
  padding: 10px 50px;
  border-radius: 10px;
  background-color: rgb(192, 255, 192);
  color: rgb(89, 89, 89);
  font-weight: bold;
}
.create {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #0c8944; /* or any color of your choice */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create:hover {
  background-color: #00df00; /* or any darker shade */
}
.signUpFormCase {
  justify-content: center;
  background-color: rgba(98, 134, 98, 0.83);
  margin: 5px;
  color: white;
}
